---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.districts.size > 0 -%}
    <h2 class="post-list-heading">Districts</h2>
    <ul class="post-list">
      {%- for district_page in site.districts -%}
      <li>
        <h3>
          <a class="post-link" href="{{ district_page.url | relative_url }}">
            {{ district_page.title | escape }}
          </a>
        </h3>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
